body {
    overflow: hidden;
    margin: 0;
    background: #af3449;
    padding: 0;
}
header {
    background: #28445a ;
    margin-top: 0;

}
nav div {
    margin: 1% 5% 1% 5%;
}
nav{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
}

.nav-button{
    width: 8%; 
    height: 50%; 
    margin: 1%;
    background-color:#d7dce8 ;
    border: solid #0f1a20 ;
    border-width: 2px ;
    border-radius: 3px;
}

#Overskrift{
    font-family:Bungee Tint ;
    text-align: center;
    font-size: 4rem;
    margin: 0%;
}
